/*
 * Table
 */
table.dataTable {
	margin: 0 auto 10px auto;
	width: 100%;
}

table.dataTable thead th {
    padding: 3px 18px 3px 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #cfd7da;
    color: #353c4e;
    text-align: left;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td, table.data_table_simple td {
	padding: 7px;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

table.dataTable tr.odd { background-color: #eee; }
table.dataTable tr.even { background-color: #fefefe; }

table.dataTable tr.selected {
    background-color: #cfd7da;
    color: #353c4e;
}

table.dataTable tr.odd td.sorting_1 {}
table.dataTable tr.odd td.sorting_2 {}
table.dataTable tr.odd td.sorting_3 {}
table.dataTable tr.even td.sorting_1 {}
table.dataTable tr.even td.sorting_2 {}
table.dataTable tr.even td.sorting_3 {}


/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	*zoom: 1;
}

.dataTables_wrapper select, .dataTables_wrapper input, .dataTables_wrapper label, .dataTables_info{
    font-size:11px;
}


/*
 * Page length menu
 */
.dataTables_length {
	float: left;
	margin: 0 0 20px 30px;
	
}

/*
 * Filter
 */
.dataTables_filter {
	float: right;
	
	text-align: right;
	margin: 0 30px 20px 0;

}

.dataTables_filter > label > input {
	background: #f3f3f3;
	border: 1px solid #8d8d8d;
	padding: 3px;
}

/*
 * Table information
 */
.dataTables_info {
	/*clear: both;*/
	float: left;
	margin: 0 0 10px 10px;
	/*font-style: italic;*/
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
	font-size: 12px;
    padding: 0 10px 0 0;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	/*color: #111 !important;*/
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	/*color: #666 !important;*/
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_enabled_previous { background: url('/entity/images/data_tables/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('/entity/images/data_tables/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('/entity/images/data_tables/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: url('/entity/images/data_tables/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('/entity/images/data_tables/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('/entity/images/data_tables/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
.sorting { background: url('/entity/images/data_tables/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('/entity/images/data_tables/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('/entity/images/data_tables/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('/entity/images/data_tables/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('/entity/images/data_tables/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}