div#cboxOverlay {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#cboxContent iframe {
  width: 99%;
  height: 99%;
  border: 1px solid #777;
}
div#cboxContent button {
  border: 1px solid #777;
  background-color: #222;
  color: #777;
  padding: 2px 5px;
}