table.dataTable {
  padding: 20px 0 0;
}
table.dataTable.data_table_simple {
  padding: 0;
}
table.dataTable thead tr th, table.dataTable tbody tr.odd, table.dataTable tbody tr.even, table.dataTable tr.selected {
  background-color: transparent;
  color: #777;
}
table.dataTable thead tr th {
  color: #bbb;
  font-size: 14px;
  transition: background-color 1s linear;
}
table.dataTable thead tr th:hover {
  background-color: #111;
}
div.dataTables_wrapper div.dataTables_length {
  margin: 0 0 0 10px;
}
div.dataTables_wrapper div.dataTables_filter {
  margin: 0 10px 0 0;
}
div.dataTables_wrapper label {
  font-style: normal;
}
table.dataTable tbody tr {
  transition: background-color 0.5s linear;
}
table.dataTable tbody tr:hover {
  background-color: #111;
}
div.dataTables_length select, div.dataTables_filter input {
  background-color: #222;
  color: #999;
}
