/**
 * Default settings
 * for padding, margins, borders, etc
 * Containing different settings for each
 */
* {
  margin: 0;
  padding: 0;
}
.padding_small {
  padding: 5px;
}
.padding {
  padding: 10px;
}
.padding_large {
  padding: 15px;
}
.padding_xlarge {
  padding: 20px;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
/**
 * Template settings
 * The page background, fonts, colours etc
 */
body {
  background-color: #222;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 30px;
}
a {
  color: #999;
  text-decoration: none;
  transition: color 0.5s ease;
  cursor: pointer;
}
a:hover {
  color: #fff;
}
/**
 * The header section
 * Containing the name of the framework and the user badge
 */
div#page_header {
  background-color: #000;
  padding-left: 20px;
  height: 50px;
}
div#page_header h1 {
  float: left;
  padding: 1px 0 0;
}
div#page_header span.first_word {
  color: #999;
}
div#page_header ul {
  float: right;
  height: 50px;
  margin: 0 20px 0 0;
}
div#page_header ul li {
  list-style-type: none;
  position: relative;
  height: 50px;
}
div#page_header ul li a {
  text-align: right;
  display: block;
  height: 37px;
  padding: 13px 10px 0;
}
div#page_header ul li a.logout {
  text-shadow: #fff 0px 0px 10px;
}
div#page_header ul li ul {
  display: none;
  height: auto;
  float: none;
  width: 100%;
}
div#page_header ul li:hover ul {
  display: block;
}
div#page_header ul li ul li {
  height: auto;
}
/**
 * The left hand navigation
 * Containing the menu and user profile
 */
div#left_menu {
  width: 8%;
  font-size: 20px;
  padding: 1% 1% 100px 1%;
  text-align: right;
  float: left;
}
div#left_menu a{
  font-size: 16px;
}
div#left_menu div.display_image {
  display: none;
}
div#left_menu ul li {
  padding: 10px 0 0;
  list-style-type: none;
  transition: color 1s linear;
}
div#left_menu ul li:hover {
  color: #bbb;
}
div#left_menu ul li ul {
  margin: 0 0 0 5px;
}
div#left_menu ul li ul li {
  padding: 0;
}
/**
 * The page content
 */
div#page_content {
  float: left;
  width: 80%;
  padding: 20px 5% 60px;
}
div.form_group table tbody tr.form_row td {
  padding: 5px 10px;
}
div.error {
  color: #c36969;
}
div.success {
  color: #a1c495;
}
/* form fields and styling */
label {
  font-style: italic;
}
input:focus, textarea:focus {
  color : #53bcb3;
}
input.text, select.select, textarea.textarea {
  padding: 5px;
  width: 250px;
  font-size: 16px;
  background-color: #444;
  border: 1px solid #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-radius: 0;
}
input.button, a.button {
  width: auto;
  background-color: #111;
  color: #999;
  border: none;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #111;
}
input.button:hover, a.button:hover {
  border: 1px solid #000;
  cursor: pointer;
}
h2.form_group_label, p.form_group_description {
  display: none;
}
div.form_controls {
  margin: 20px 0 0;
  height: 42px;
}
div.form_controls ul li {
  list-style-type: none;
  float: left;
}
div.form_controls ul li a {
  padding: 5px 10px;
  background-color: #111;
}
div.form_controls ul li a.selected {
  background-color: #000;
}
tr.form_row.description {
  display: none;
}
table.form_link thead {
  display: none;
}
tr.form_row_error, a.validation_error {
  color: #c36969;
}
input.text.validation_error, select.select.validation_error, textarea.textarea.validation_error {
  border: 1px solid #c36969;
}
/* the top toolbar */
div#toolbar {
  margin: 0 0 40px 0;
}
div#toolbar div.actions {
  float: right;
}
/**
 * The footer section
 * With copyright information
 */
div#footer {
  text-align: center;
  font-size: 12px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color:#090909;
}